h1 {
    text-align: left;
}

.calculator {
    display : flex;
    flex-direction: column;
    gap : 10px
}

.screen {
    flex-direction: column;
    border: 1px solid;
    width: 238px;
    height : 80px;
    padding : 10px 20px;
    text-align : right;
}
.main {
    min-height: 40px;
    font-size: 20px;
}
.second {
    font-size: 10px;
    min-height: 20px;
}

.buttons {
    display : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap : 2px;
    width: 280px;
    height: 200px;
}

.buttons input:nth-child(4n+4){
    margin-left: 10px;
}

.clearButton {
    grid-column: span 4;
}